// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Global Styles

* {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

::selection {
  color: $white;
  background: lighten($brand-primary, 15%);
}

::-moz-selection {
  color: $white;
  background: lighten($brand-primary, 15%);
}

body {
  font-family: $font-body;
  color: $white;
  background: transparent;
  @include media-breakpoint-down(xs) {
    background: url('../img/slide-1.jpg') no-repeat center center;
    background-size: cover;
  }
}
// Body Border
#framed-body {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

#bottom,
#left,
#right,
#top {
  position: fixed;
  z-index: 9999;
  background: $white;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#bottom,
#top {
  right: 0;
  left: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}
// @media only screen and (max-width: 500px), only screen and (min-width: 768px) and (max-width: 1024px) {
// 	#top, #bottom, #left, #right { display: none; }
// }
//Preloader Styles

#preloader,
#preloader-inside {
  position: fixed;
  /* change if the mask should have another color then white */
  z-index: 999999;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  /* makes sure it stays on top */
  @include media-breakpoint-down(xs) {
    display: none;
    visibility: hidden;
    white-space: nowrap;
  }
}

#status {
  width: 100%;
  height: auto;
  margin-bottom: 7.1rem;
  background: transparent;
}

#preload-logo {
  transition: all 1.5s ease-in-out;
  background-color:transparent;
  //transform: scale(0);
  opacity: 0;

  &.loaded {
    //transform: scale(1);
    opacity: 1;
  }
}

#progressive {
  position: absolute;
  z-index: 15;
  top: 60%;
  left: 0;
  width: 100vw;
  height: 3px;
  margin: 0;
  transition: all 0.3s linear;
  opacity: 1;

  &.dumped {
    opacity: 0;
  }

  .progress {
    height: 3px;
    border-radius: 0;
    background-color: $brand-grey;

    .progress-bar {
      transition: width 1.5s ease-in-out;
      background-color: $brand-primary;
    }
  }
}
// Header Styles

.bg-blue {
  background-color: $brand-primary;
}

.bg-blue-gradient {
  z-index: 1;
  background: linear-gradient($brand-primary 40%, darken($brand-black, 5%));
}

.bg-light {
  background-color: $white !important;
}

.custom-logo-link img {
  width: 100%;
  max-width: 400px;
  height: auto;
  @media screen and (max-width: 767px) {
    max-width: 150px;
  }
}

.navbar {
  padding: 1rem;

  .container {
    position: relative;
  }

  #navbarNavDropdown {
    margin-top: auto;
  }

  .button-box {
    font-family: $font-header;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;

    button {
      height: 75px;
      margin-left: 2rem;
      padding: 1.75rem 2rem 1rem;
      transition: all 0.15s ease-in-out;
      transform: translateY(-2rem);
      color: $white;
      border-width: 1px;
      border-style: solid;
      border-color: $brand-primary;
      border-radius: 0 0 25px 25px;
      background: $brand-primary;

      &:hover {
        transform: translateY(-1.5rem);
        box-shadow: 0 -4px 8px rgba(#000, .7);
      }
    }
  }
}
// Navigation

nav {
  a {
    font-family: $font-body;
    font-weight: 600;
    transition: all 0.27s ease;
    text-transform: uppercase;
    color: $brand-black !important;
    border-radius: 50px;

    &:hover {
      color: $white !important;
      background: $brand-primary;
    }

    &.custom-logo-link:hover {
      background: none;
    }
  }
}

.navbar-expand-md .navbar-nav {
  & .nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }

  &.secondary-nav .nav-link {
    font-size: 18px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: none;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
}
// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-body-alt;
  font-weight: 700;
  color: $white;
}
// Elements

.btn {
  font-family: $font-header;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  height: auto;
  padding: 1rem 3rem;
  transition: all 0.2s ease;
  text-transform: uppercase;
  border-radius: 5rem;

  &-md {
    font-size: 15px;
    padding: 0.75rem 0;
  }

  &-primary {
    border-color: $brand-primary;
    background: $brand-primary;

    &:hover {
      color: $brand-primary;
      border-color: $brand-primary;
      background: $white;
    }
  }

  &-secondary {
    color: $brand-primary;
    border-color: $white;
    background-color: $white;

    &:hover {
      color: $white;
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
// Slider/Carousel Hero

.carousel {
  .carousel-control-next,
  .carousel-control-prev {
    transition: opacity 0.33s ease;
    opacity: 0;
    @include media-breakpoint-down(xs) {
      bottom: 1rem;
      opacity: 1;
      align-items: flex-end;
    }
  }

  &:hover {
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
  }
}

.carousel-inner {
  .container,
  .row {
    @include h-100;
  }
}

.carousel-inner {
  #slide {
    @include media-breakpoint-down(sm) {
      background-position: 60% center;
    }
    @include media-breakpoint-down(xs) {
      background-position: 65% center;
    }

    &.slide-1 {
      background: url('../img/slide-1.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &.slide-2 {
      background: url('../img/slide-2.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &.slide-3 {
      background: url('../img/slide-3.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

.carousel-inner {
  .carousel-item {
    height: 630px;
    @include media-breakpoint-down(xs) {
      height: 400px;

      .container {
        position: relative;
        z-index: 4;
      }

      &::before {
        position: absolute;
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba($white, .5);
      }
    }

    h1 {
      font-size: 72px;
      @include media-breakpoint-down(lg) {
        font-size: 54px;
      }
      @include media-breakpoint-down(md) {
        font-size: 42px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 33px;
      }

      &.alt {
        color: $white;

        span {
          color: $white;
        }
      }

      &::after {
        position: relative;
        display: block;
        width: 42%;
        height: 5px;
        margin-top: 2rem;
        content: '';
        background-color: $brand-primary;
        @include media-breakpoint-down(xs) {
          margin: 2rem auto 0;
        }
      }

      span {
        font-family: $font-secondary;
        font-weight: 300;
      }
    }

    p {
      font-size: 22px;
      margin: 2rem 0 0;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }

      &.alt {
        color: $white;
      }
    }
  }

  #testimonials & .carousel-item {
    z-index: 3;
    height: 550px;
    //position: relative;
  }
}
/*
// Homepage Section
*/
.home-page section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  & .section-title {
    margin: 0;
    padding-bottom: 1.75rem;
  }

  & .section-lead {
    margin: 1rem 0;
  }

  &#testimonials {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

#welcome {
  position: relative;

  h2 {
    font-size: 52px;
  }
}

.content-box {
  &:first-child {
    padding-bottom: 6rem;
  }

  .icon {
    margin-right: 1rem;
    padding: 0.5rem;
    transition: all 0.33s ease;
    border: 3px solid lighten($brand-black, 65%);
    border-radius: 10px;
    background-color: #fff;

    i {
      font-size: 54px;
      transition: all 0.33s ease;
      color: $brand-primary;
    }

    &:hover {
      border: 3px solid $brand-primary;
      background-color: $brand-primary;

      i {
        color: #fff;
      }
    }
  }

  .content {
    h4 {
      font-size: 21px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: lighten($brand-black, 30%);
    }
  }
}
/*
// Footer info
*/
#wrapper-footer {
  color: #fff;
  //  background-color: $brand-primary;
  background: linear-gradient(135deg, $brand-primary, $brand-black);
  background: url('../img/bg-smooth.jpg');
  background-position: center top;
  background-size: cover;

  img.footer-logo {
    width: 200px;
    height: auto;
  }

  address {
    font-size: 20px;
    font-weight: 300;
    margin-top: 2rem;
  }

  .navbar-nav {
    display: block;
    text-align: center;

    li.nav-item {
      display: inline-block;
      margin: 0 1rem;
    }

    .nav-link {
      font-family: $font-header;
      color: #fff;
    }
  }
}
//BX Slider

.bx-wrapper {
  max-width: 100% !important;
}
//Slide Nav

#slide-nav {
  padding-left: 3rem !important;
  text-align: left;
  opacity: 0;

  h3,
  h4,
  h5 {
    font-family: $font-body-alt;
    font-size: 52px;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: $black;
  }

  h4,
  h5 {
    font-weight: 400;
    color: $white;
  }

  h3 {
    @include media-breakpoint-down(sm) {
      font-size: 42px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 32px;
    margin: 1rem 0;
    @include media-breakpoint-down(lg) {
      font-size: 22px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
    @media screen and (max-width: 1430px) {
      font-size: 24px;
    }

    &::after {
      display: block;
      width: 90%;
      height: 1px;
      margin-top: 0.5rem;
      content: '';
      background: $white;
    }
  }

  h5 {
    font-size: 18px;
    margin: 1.5rem 0 0.75rem;
  }
}

/* The side navigation menu Logo*/
.menu-logo {
  width: 100%;
  max-width: 275px;
  height: auto;
  position: absolute;
  top: 3rem;
  right: 5rem;

  opacity: 0;
  @include media-breakpoint-down(xs) {
    max-width: 225px;
  }
}

/* The side navigation menu */
#slideoutnav {
  position: fixed;
  /* Stay in place */
  z-index: 99999;
  /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  width: 0;
  /* 0 width - change this with JavaScript */
  height: 100%;
  /* 100% Full-height */
  padding-top: 10rem;
  /* Place content 6rem from the top */
  transition: 0.5s;
  
  /* 0.5 second transition effect to slide in the sidenav */
  background-color: $brand-primary;
  //box-shadow: 0 0 0 rgba($brand-primary, .9), 0 0 1px rgba($brand-primary, .6), 0 0 2px rgba($brand-primary, .3);

  &.shadowed {
    //box-shadow: 80px 0 0 rgba($brand-primary, .9), 160px 0 1px rgba($brand-primary, .6), 240px 0 2px rgba($brand-primary, .3);
  }
}

.stack-1,
.stack-2 {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s;
  background-color: $brand-primary;
}

.stack-1 {
  opacity: 0.3;
}

.stack-2 {
  opacity: 0.6;
}

#nav-contact-info {
  address,
  p {
    font-family: $font-body-alt;
    font-size: 14px;
    font-weight: 600;
  }

  p {
    margin: 0;
    text-transform: uppercase;
    color: #000;

    address,
    span {
      display: block;
      margin: 0;
      color: $white;
    }

    span {
      &.tel {
        font-size: 25px;
      }

      &.email {
        text-transform: lowercase;
      }
    }
  }
}
/* The navigation menu links */
.navbar-nav {
  li {
    &.current-menu-item a {
      color: #000;

      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding-right: 1.5rem;
        content: '';
        background: url('../img/svg/bullet-black.svg') no-repeat;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -1.5rem;
        display: block;
        width: 24px;
        height: 20px;
        content: '';
        background: url('../img/svg/arrow-black.svg') no-repeat;
      }
    }

    a {
      font-family: $font-body-alt;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      padding-left: 1rem;

      &:hover {
        text-decoration: none;
        color: #000;
      }

      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding-right: 1.5rem;
        content: '';
        background: url('../img/svg/bullet.svg') no-repeat;
      }

      &:hover::before {
        content: '';
        background: url('../img/svg/bullet-black.svg') no-repeat;
      }
    }
  }
}
/* When you mouse over the navigation links, change their color */
.offcanvas a:focus,
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 2.5rem;
  left: 4rem;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  img {
    display: block;
    width: auto;
    height: 55px;
    margin: 0 auto;
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: scale(1) translateX(-10px);
  }

  span {
    font-family: $font-body-alt;
    font-size: 14px;
    display: block;
    margin-top: 0.55rem;
    text-transform: uppercase;
    color: rgba($white, .8);
  }
}

.openbtn {
  position: absolute;
  z-index: 1001;
  top: 3rem;
  left: 3rem;
  @include media-breakpoint-down(xs) {
    top: 1rem;
    left: 1rem;
  }

  img {
    display: block;
    width: auto;
    height: 40px;
    margin: 0 auto;
    transition: transform 0.2s ease;
    @include media-breakpoint-down(xs) {
      width: auto;
      height: 25px;
      margin: 0;
    }
  }

  &:hover img {
    transform: scale(.9);
  }

  span {
    font-family: $font-body-alt;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-top: 1rem;
    transition: color 0.2s ease;
    text-transform: uppercase;
    color: rgba($white, .8);
  }

  &:hover span {
    color: rgba($white, 1);
  }
}

.openbtn,
.openbtn span,
.sidenav .closebtn {
  text-decoration: none !important;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  padding: 20px;
  transition: margin-left 0.5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

// Parallax Scene
#plx {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

//Slider
.bx-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100%;
  margin-bottom: 0;
  border: 0;
  background: $black;
  box-shadow: none;
  @include media-breakpoint-down(xs) {
    //display: none;
  }
}

.bxslider {
  .slides {
    width: 100%;
    height: 100%;
  }
  .slide-1 {
    background: url('../img/slide-1.jpg') no-repeat top center;
    background-size: cover;
  }

  .slide-2 {
    background: url('../img/slide-2.jpg') no-repeat top center;
    background-size: cover;
  }

  .slide-3 {
    background: url('../img/slide-3.jpg') no-repeat top center;
    background-size: cover;
  }
}

.bx-viewport,
.bxslider {
  height: 100% !important;
  @include media-breakpoint-down(xs) {
    min-height: 1024px;
  }
}
// Layout

.wrapper {
  position: relative;
  z-index: 999;
  margin: 5rem 0 0;
  padding: 30px 0 15px;

  #content {
    position: relative;
  }
}

.logo-inside {
  position: absolute;
  right: 2rem;
  width: 180px;
  margin-top: 1.2rem;
  @include media-breakpoint-down(sm) {
    position: relative;
    right: 0;
    width: 250px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.cover-container {
  position: relative;
  z-index: 100;

  .cover {
    color: #fff;

    p {
      font-family: $font-body;
      font-size: 30px;
      font-weight: 300;
      position: relative !important;

      animation-delay: 2s;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
    }
  }
}
// About Page

.entry-header {
  border-bottom: 1px solid rgba($white, .5);
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .entry-title {
    font-family: $font-body;
    font-weight: 600;
    @include media-breakpoint-down(xs) {
      font-size: 27px;
    }
  }
}

#about-bio {
  position: relative;
  margin-top: 1.25rem;
  background: $brand-primary;

  .social-share {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      background: $white;
      align-items: baseline;
      justify-content: center;

      li {
        display: flex;
        height: 18px;
        padding: 0 0.75rem;
        border-right: 1px solid rgba($brand-black, .5);
        align-items: center;
        @include media-breakpoint-down(sm) {
          padding: 2rem 0;
          border-right: 0;
          border-bottom: 1px solid rgba($brand-black, .5);
        }

        &:last-child {
          border: 0;
        }

        a {
          display: block;

          img {
            width: 16px;
            height: auto;
            transition: all 0.2s ease;
            opacity: 0.9;
            @include media-breakpoint-down(sm) {
              width: 25px;
            }
          }

          &:hover img {
            transform: scale(1.25);
            opacity: 1;
          }
        }
      }
    }
  }

  p {
    font-size: 18px;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }
}

#about-content {
  font-family: $font-body-alt;

  h3,
  h4 {
    text-transform: uppercase;
  }

  h3 {
    font-size: 34px;
    display: inline-block;
    margin: 2.5rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba($white, .7);
    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
  }

  h4 {
    font-size: 18px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  ul {
    padding-left: 1rem;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    li {
      list-style-type: none;

      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding-right: 1.5rem;
        content: '';
        background: url('../img/svg/bullet.svg') no-repeat;
      }
    }
  }
}

#bio-links {
  padding-top: 1rem;
  border-top: 2px solid #000;

  div:first-child {
    border-right: 2px solid #000;
    @include media-breakpoint-down(sm) {
      border: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(xs) {
      justify-content: start;
    }

    h5 {
      font-size: 18px;
      margin: 0;
      text-transform: uppercase;
      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      &::after {
        display: block;
        width: 0;
        height: 1px;
        margin-top: 0.25rem;
        margin-right: auto;
        margin-left: auto;
        content: '';
        transition: all 0.2s ease-in-out;
        background: $white;
      }
    }

    &:hover h5::after {
      width: 100%;
      content: '';
    }

    img {
      display: block;
      width: 25px;
      height: auto;
      margin-right: 1rem;
      transition: all 0.2s ease-in-out;
    }

    &:hover img {
      transform: scale(1.2);
    }

    &:hover {
      text-decoration: none;
    }
  }
}

#bio-contact {
  p.phone {
    span {
      font-size: 25px;
      display: block;
    }
  }

  p {
    font-family: $font-body-alt;
    font-size: 14px;
    font-weight: 600;

    a {
      font-family: $font-body-alt;
      font-size: 25px;
      display: inline-block;
      padding: 0 0.5rem;
      transition: all 0.2s ease-in-out;
      text-transform: none !important;
      color: $white;
      background: $brand-primary;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }

      &:hover {
        text-decoration: none;
        background: #000;
      }
    }
  }
}

#breadcrumbs {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  @media screen and (max-width: 1320px) {
    font-size: 13px;
  }
  @media screen and (max-width: 1230px) {
    font-size: 11px;
  }
  @media screen and (max-width: 1060px) {
    font-size: 10px;
  }
}

// Signature Sign
$sign-x: 586px;
$sign-y: 171px;
$sign-frames: 90;
$sign-duration: 1.5s;
$sign-delay: 0.5s;

#rb-sign {
    display: block;
    margin: 0 auto;
    width: $sign-x;
    height: $sign-y;
    background: url(http://reiter.wpengine.com/wp-content/uploads/2017/11/sequence.png) no-repeat;
		background-size: 100% auto;
    &.white {
        //background-image: url(http://drygiel.com/projects/sign/frames-255-white.png);
    }

    &.play {
        -moz-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        -o-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        -webkit-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
    }
}

a#rb-sign {
    opacity:1;
}

@-webkit-keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}

@-moz-keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}

@keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}
