// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Global Styles

* {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

::selection {
  color: $white;
  background: darken($brand-primary, 5%);
}

body {
  font-family: $font-body;
  color: $brand-black;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 15%);
  }
}
// Header Styles

.bg-blue {
  background-color: $brand-primary;
}

.bg-blue-gradient {
  z-index: 1;
  background: linear-gradient($brand-primary 40%, darken($brand-primary-dark, 5%));
}

.bg-light {
  background-color: $white !important;
}

.custom-logo-link img {
  width: 100%;
  max-width: 400px;
  height: auto;
  @media screen and (max-width: 767px) {
    max-width: 150px;
  }
}

.navbar {
  padding: 1rem;

  .container {
    position: relative;
  }

  #navbarNavDropdown {
    margin-top: auto;
  }

  .button-box {
    font-family: $font-header;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;

    button {
      height: 75px;
      margin-left: 2rem;
      padding: 1.75rem 2rem 1rem;
      transition: all 0.15s ease-in-out;
      transform: translateY(-2rem);
      color: $white;
      border-width: 1px;
      border-style: solid;
      border-color: $brand-primary;
      border-radius: 0 0 25px 25px;
      background: $brand-primary;

      &:hover {
        transform: translateY(-1.5rem);
        box-shadow: 0 -4px 8px rgba(#000, .7);
      }
    }
  }
}

#wrapper-navbar-secondary {
  .navbar {
    padding: 1rem;
  }
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 18%;

  & li {
    display: inline-block;

    & a {
      font-size: 22px;
      margin-right: 3rem;
      padding: 0.25rem;
      color: $white !important;
      border-radius: 0;

      &,
      i {
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        opacity: 1;
        color: $brand-primary-dark !important;
        background: transparent !important;

        i {
          transform: scale(1.3);
        }
      }
    }
  }
}

.donate-involve {
  display: flex;

  & .btn {
    font-size: 12px;
    margin: 0 0.5rem;
    padding: 0.5rem 1.15rem;
    border: 0;

    & + .btn {
      margin-right: 0;
    }
    @media screen and (max-width: 575px) {
      font-size: 11px;
      margin: 0 0.15rem;
      padding: 0.25rem 1rem;
    }
  }
}
// Navigation

nav {
  a {
    font-family: $font-body;
    font-weight: 600;
    transition: all 0.27s ease;
    text-transform: uppercase;
    color: $brand-black !important;
    border-radius: 50px;

    &:hover {
      color: $white !important;
      background: $brand-primary;
    }

    &.custom-logo-link:hover {
      background: none;
    }
  }

  & .secondary-nav {
    a {
      font-family: $font-header;
      font-size: 14px;
      font-weight: 700;
      transition: all 0.27s ease;
      letter-spacing: 0;
      text-transform: normal;
      color: $white !important;
      border-radius: 50px;

      &:hover {
        color: $brand-primary !important;
        background: $white;
      }
    }

    &.nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      @media screen and (max-width: 991px) {
        font-size: 12px !important;
      }
    }
  }
}

.navbar-expand-md .navbar-nav {
  & .nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }

  &.secondary-nav .nav-link {
    font-size: 18px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: none;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
}
// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 700;
}
// Elements

.btn {
  font-family: $font-header;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  height: auto;
  padding: 1rem 3rem;
  transition: all 0.2s ease;
  text-transform: uppercase;
  border-radius: 5rem;

  &-md {
    font-size: 15px;
    padding: 0.75rem 0;
  }

  &-primary {
    border-color: $brand-primary;
    background: $brand-primary;

    &:hover {
      color: $brand-primary;
      border-color: $brand-primary;
      background: $white;
    }
  }

  &-secondary {
    color: $brand-primary;
    border-color: $white;
    background-color: $white;

    &:hover {
      color: $white;
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
// Slider/Carousel Hero

.carousel {
  .carousel-control-next,
  .carousel-control-prev {
    transition: opacity 0.33s ease;
    opacity: 0;
    @include media-breakpoint-down(xs) {
      bottom: 1rem;
      opacity: 1;
      align-items: flex-end;
    }
  }

  &:hover {
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
  }
}

.carousel-inner {
  .container,
  .row {
    @include h-100;
  }
}

.carousel-inner {
  #slide {
    &.slide-1 {
      background: url('../img/slide-1.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &.slide-2 {
      background: url('../img/slide-2.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &.slide-3 {
      background: url('../img/slide-3.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    @include media-breakpoint-down(sm) {
      background-position: 60% center;
    }
    @include media-breakpoint-down(xs) {
      background-position: 65% center;
    }
  }
}

.carousel-inner {
  .carousel-item {
    height: 630px;
    @include media-breakpoint-down(xs) {
      height: 400px;

      .container {
        position: relative;
        z-index: 4;
      }

      &::before {
        position: absolute;
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba($white, .5);
      }
    }

    h1 {
      font-size: 72px;
      &.alt {
        color: $white;
        span {
          color: $white;
        }
      }
      @include media-breakpoint-down(lg) {
        font-size: 54px;
      }
      @include media-breakpoint-down(md) {
        font-size: 42px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 33px;
      }

      &::after {
        position: relative;
        display: block;
        width: 42%;
        height: 5px;
        margin-top: 2rem;
        content: '';
        background-color: $brand-primary;
        @include media-breakpoint-down(xs) {
          margin: 2rem auto 0;
        }
      }

      span {

        font-family: $font-secondary;
        font-weight: 300;
      }
    }

    p {
      font-size: 22px;
      margin: 2rem 0 0;
      &.alt {
        color: $white;
      }
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
  }

  #testimonials & .carousel-item {
    z-index: 3;
    height: 550px;
    //position: relative;
  }
}

#testimonials {
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparentize(#fff, 1);

    &.active {
      background-color: transparentize(#fff, 0);
    }
  }
}
/*
// Homepage Section
*/
.home-page section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  & .section-title {
    margin: 0;
    padding-bottom: 1.75rem;
  }

  & .section-lead {
    margin: 1rem 0;
  }

  &#testimonials {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

#welcome {
  position: relative;
  h2 {
    font-size: 52px;
  }
}

.content-box {
  &:first-child {
    padding-bottom: 6rem;
  }

  .icon {
    margin-right: 1rem;
    padding: 0.5rem;
    transition: all 0.33s ease;
    border: 3px solid lighten($brand-black, 65%);
    border-radius: 10px;
    background-color: #fff;

    i {
      font-size: 54px;
      transition: all 0.33s ease;
      color: $brand-primary;
    }

    &:hover {
      border: 3px solid $brand-primary;
      background-color: $brand-primary;

      i {
        color: #fff;
      }
    }
  }

  .content {
    h4 {
      font-size: 21px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: lighten($brand-black, 30%);
    }
  }
}
/*
// Providers
*/
#providers {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  background: $brand-primary-dark;
  background: linear-gradient(135deg, $brand-primary 50%, $brand-primary-dark);
  background: url("../img/bg-smooth.jpg");
  background-size: cover;

  .content {
    max-width: 80%;
    padding: 2rem 0 2rem 3rem;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 0 2rem;
    }

    h3,
    p {
      color: $white;
    }

    h3 {
      margin-bottom: 2rem;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8;
    }
  }
}

#providers .img-contain {
  background: url('../img/provide.jpg') no-repeat center center;
}

#providers .img-box {
  position: relative;
  width: 100%;
  height: 100%;
}
/*
// Latest Causes
*/
#latest-causes {
  overflow: hidden;
  padding-top: 1rem;

  h3 {
    font-size: 48px;
  }
}

.causes {
  .inner-box {
    margin-right: 1rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  }

  .inner-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
  }

  .content-box {
    padding: 1rem 1.5rem 2rem;
  }

  h4 {
    font-size: 20px;
    margin: 1rem 0;
    padding: 0;
  }

  p {
    font-size: 14px;
    line-height: 2;
    color: lighten($brand-black, 25%);
  }

  a.read-more {
    font-family: $font-header;
    font-size: 16px;
    transition: all 0.33s ease;
    text-transform: uppercase;

    &::after {
      display: inline-block;
      padding-left: 0.25rem;
      content: ' »';
      transition: all 0.33s ease;
    }

    &:hover::after {
      padding-left: 0.5rem;
    }
  }
}
/*
// Testimonials
*/
#testimonials {
  position: relative;
  overflow: hidden;
  background: url('../img/bg-reviews-alt.jpg') center center no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    //background: linear-gradient(rgba($brand-primary, .8) 50%, rgba($brand-primary-dark, .9));
    background: url("../img/bg-smooth.jpg");
    background-size: cover;
    background-position: center top;
    opacity: 0.9;

  }

  .carousel,
  .container {
    position: relative;
    z-index: 3;
  }

  h3 {
    font-size: 48px;
    color: $white;
  }
}

.carousel-inner {
  #testimonials & .carousel-item {
    z-index: 3;
    height: 333px;
  }
}


  .carousel-indicators {
    bottom: 0;
    margin-bottom: 2.5rem;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparentize(#fff, 1);

    &.active {
      background-color: transparentize(#fff, 0);
    }
  }

  blockquote {
    font-size: 24px;
    font-style: italic;
    line-height: 2.75rem;
    color: $white;

    &::after,
    &::before {
      position: relative;
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;
      margin-top: -1.5rem;
      content: '';
      background: url('../img/quote-left.png') no-repeat;
      background-position: 0 bottom;
      background-size: 100%;
    }

    &::after {
      position: relative;
      display: inline-block;
      float: right;
      width: 50px;
      height: 50px;
      margin-top: 0;
      content: '';
      background: url('../img/quote-right.png') no-repeat;
      background-position: 0 bottom;
      background-size: 100%;
    }
  }


.author {
  font-family: $font-header;
  font-size: 24px;
  font-style: normal;
  display: block;
  margin-top: 1.5rem;
  color: #fff;

  span {
    font-family: $font-body;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
  }
}
/*
// Latest News
*/
#news {
  position: relative;
  overflow: hidden;
  background-color: lighten($brand-black, 70%);

  h3 {
    font-size: 48px;
  }
}

.post-featured {
  position: relative;

  .overlay-box {
    position: absolute;
    bottom: 0;
    padding: 1rem 3rem;
    background-color: rgba($white, .85);
  }
}

.post-latest {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $brand-primary;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: 0;
  }

  .image-thumb {
    padding-right: 2rem;

    img {
      width: 80%;
      height: auto;
    }
  }

  .post-article {
    a {
      & h4 {
        font-size: 17px;
        transition: all 0.3s ease;
        color: $brand-black;
      }

      &:hover h4 {
        color: $brand-primary;
      }
    }
  }
}
/*
// Sponsors
*/
#sponsors {
  overflow: hidden;

  h3 {
    font-size: 48px;

    span {
      font-family: $font-secondary;
      font-weight: 300;
      font-style: italic;
    }
  }

  .mission {
    p {
      font-size: 14px;
      line-height: 2;
      color: lighten($brand-black, 25%);
    }
  }

  #accordion {
    .card {
      margin-bottom: 1rem;
      border: 0;

      h5 {
        font-family: $font-body;
        font-weight: 300;

        a {
          display: block;
          padding: 0.75rem 1.25rem;
          transition: all 0.3s ease;
          color: #fff;
          border-radius: 30px;
          background-color: $brand-primary;

          .plus-minus {
            float: right;
          }

          &.collapsed {
            color: $brand-primary;
            background-color: $white;

            &:hover {
              color: darken($brand-primary, 18%);
            }
          }

          &:hover {
            text-decoration: none;
            color: $white;
          }
        }
      }

      .card-header {
        padding: 0;
        border: 1px solid $brand-primary;
        border-radius: 30px;
        background-color: $white;
      }

      .card-body {
        margin: 1.25rem 1.25rem 1.25rem 1.75rem;
        padding: 0 0 0 1.25rem;
        border-left: 2px solid lighten($brand-black, 50%);
      }
    }
  }
}
/*
// Counters
*/
#counters {
  padding-top: 7rem;
  padding-bottom: 8rem;
  color: $white;
  //background: linear-gradient(160deg, $brand-primary, $brand-primary-dark);
  background: url("../img/bg-smooth.jpg");
  background-size: cover;
  background-position: center top;
  text-shadow: 0 4px 8px rgba(#000, .3);
  position: relative;
  .container, .container-fluid {
    position: relative;
    z-index: 5;
  }
  h3,
  p {
    color: $white;
  }

  h3 {
    font-size: 48px;
    padding-bottom: 0;
  }

  #stats {
    ul {
      margin: 3rem 0 0;
      list-style: none;

      li {
        text-align: center;
        flex-grow: 1;

        .holder {
          line-height: 55px;
          position: relative;
          display: block;
          height: 55px;
        }

        .number-box {
          font-family: $font-header;
          font-size: 32px;
          font-weight: 600;
          position: absolute;
          right: 0;
          left: 0;
          display: block;
          margin: 0 auto 0.5rem;
          text-align: center;
        }

        h4 {
          font-family: $font-body;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
}
/*
// Donate
*/
#donate {
  padding: 1rem 0;

  & img {
    transition: transform 0.33s ease-in-out;
  }

  &:hover img {
    transform: scale(1.05);
  }
}
/*
// Footer info
*/
#wrapper-footer {
  color: #fff;
  //  background-color: $brand-primary;
  background: linear-gradient(135deg, $brand-primary, $brand-primary-dark);
  background: url("../img/bg-smooth.jpg");
  background-size: cover;
  background-position: center top;
  img.footer-logo {
    width: 200px;
    height: auto;
  }

  address {
    font-size: 20px;
    font-weight: 300;
    margin-top: 2rem;
  }

  .navbar-nav {
    display: block;
    text-align: center;

    li.nav-item {
      display: inline-block;
      margin: 0 1rem;
    }

    .nav-link {
      font-family: $font-header;
      color: #fff;
    }
  }
}

.logos {
  position: relative;

  &::before {
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to right,#fff 0%,rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  }
}
// Scroll to Top
.scrollToTop {
  font-weight: bold;
  position: fixed;
  z-index: 9999;
  right: 25px;
  bottom: 10px;
  display: none;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  text-shadow: 0 3px 4px rgba(#000, .3);
  &:hover {
    text-decoration: none;
  }
}
//BX Slider

.bx-wrapper {
  max-width: 100% !important;
}


// Rellax
.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
  top: 0;
  overflow: hidden;
}

.rellax {
  border-radius: 5px;
}

.xs-blue {
  width: 30px;
  height: 30px;
  background: $brand-primary;
  margin-left: -30px;
  margin-top: 400px;
}

.sm-blue {
  width: 60px;
  height: 60px;
  background: $brand-primary;
  margin-left: -30px;
  margin-top: 500px;
}

.md-blue {
  width: 120px;
  height: 120px;
  background: $brand-primary;
  margin-left: 3rem;
  margin-top: 540px;
}

.xs-blue-dark {
  width: 30px;
  height: 30px;
  background: $brand-primary-dark;
  margin-left: -30px;
  margin-top: 400px;
}

.sm-blue-dark {
  width: 60px;
  height: 60px;
  background: $brand-primary-dark;
  margin-left: -30px;
  margin-top: 500px;
}

.md-blue-dark {
  width: 120px;
  height: 120px;
  background: $brand-primary-dark;
  margin-left: 3rem;
  margin-top: 540px;
}

.xs-grey {
  width: 30px;
  height: 30px;
  background: $brand-black;
  margin-left: -30px;
  margin-top: 400px;
  opacity: 0.15;
}

.sm-grey {
  width: 60px;
  height: 60px;
  background: $brand-black;
  margin-left: -30px;
  margin-top: 500px;
  opacity: 0.5;
}

.md-grey {
  width: 120px;
  height: 120px;
  background: $brand-black;
  margin-left: 3rem;
  margin-top: 540px;
  opacity: 0.5;
}
